{% extends 'app/base.html' %}
{% block body %}

<div class="container pt-3">
    <form action="{% url 'both' %}" method="GET" class="">
        <div class="form-group">
            <label>True or False
                <input type="text" name="first_answer" class="form-control" placeholder="T or F">
            </label>
        </div>
        <div class="form-group">
            <label>
                True or False
                <input type="text" name="second_answer" class="form-control" placeholder="T or F">
            </label>
        </div>

    </form>
</div>
{% endblock body %}
